<!--declaration for the bean-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--this will fetch the bean when its called in the context.getbean("idname")-->
        <!--the  id name should be same as the id-->
        <bean id="alien1" class="org.example.Alien" autowire="byType">
            <!--setter injection-->

            <!--if we dont want to use the property tag for initialization then we can use the constructor tag-->
            <!--if we have two variable we can pass two things and it looks for the sequence-->
            <!--but to solve the sequence problems we have to either use type or index -->
            <!-- but the best is to use the name of the variable-->
            <!--<constructor-arg name="age" value="99"/>-->
            <!--<constructor-arg name="lap"  ref="lap"/>-->
            <!--connecting the lap bean created below-->
            <property name="k" value="90"/>
<!--            explicit mention of the reference will overwrite the autowire-->
            <property name="comp">
                <bean id="comp" class="org.example.Laptop" lazy-init="true">
                </bean>
            </property>
        </bean>
<!--when a non leazy bean is dependent on the lazy bean then the object of the  lazy bean is creaated-->
<!--    object of the bean will only be created when its leaded-->
<!--    <bean id="comp" class="org.example.Desktop" lazy-init="true">-->
<!--    </bean>-->
</beans>